.parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
button {
  width: 120px;
  height: 60px;
  font-size: 20px;
  margin: 10px;
  background-color: #ff4f00;
  color: black;
}
.input {
  text-align: end;
  margin: flex;
  grid-area: input;
  background-color: grey;
  width: 100%;
  height: auto;
  min-height: 100%;
  font-size: 10px;
  margin: 10px;
  color: white;
  font-size: 50px;
  justify-content: flex-start;
}
.seven {
  grid-area: seven;
}
.eightn {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.add {
  grid-area: add;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}
.six {
  grid-area: six;
}

.minus {
  grid-area: minus;
}

.multiply {
  grid-area: multiply;
}

.three {
  grid-area: three;
}

.two {
  grid-area: two;
}

.one {
  grid-area: one;
}

.zero {
  grid-area: zero;
}
.divide {
  grid-area: divide;
}
.square {
  grid-area: square;
}

.dot {
  grid-area: dot;
}
.equals {
  grid-area: equals;
  width: 100%;
}
.clear {
  grid-area: clear;
  width: 100%;
}
.abs {
  grid-area: abs;
}
.exp {
  grid-area: exp;
}
.gridContainer {
  display: grid;
  grid-template-rows: 60px 60px 60px 60px 60px;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-areas:
    "input input  input input"
    "seven  eight   nine   add"
    "four   five    six    minus"
    "one    two     three  multiply"
    "zero   divide  square dot"
    "abs exp clear equals";
}
